<h1>Agents</h1>
<%= link_to "Home", root_path %>

<div>
  <p>Total: <%= @agents.count %></p>
</div>

<table>
  <tr>
    <th>id</th>
    <th>uuid</th>
    <th>Full Name</th>
    <th>Nationality</th>
    <th>Licence Duration</th>
    <th>Agency</th>
  </tr>
  <%= render @agents %>
</table>
