<h1>Agents</h1>

<div>
  <%= render partial: 'shared/search' %>

  <p>Total found: <%= @agents.count %></p>
</div>

<table>
  <tr>
    <th>id</th>
    <th>uuid</th>
    <th>Full Name</th>
    <th>Nationality</th>
    <th>Licence Duration</th>
    <th>Agency</th>
  </tr>
  <%= render @agents %>
</table>
